@import "tailwindcss";

:root {
    --blue: #243C88;
    --bright-blue: #2F59B8;
    --green: #225647;
    --bright-green: #398C6B;
    --yellow: #725833;
    --bright-yellow: #BE912D;
    --red: #5E2744;
    --bright-red: #C43B4F;
    --black: #1E1E1E;
    --purple: #6F4FE5;
    --dark-purple: #181A43;
    --very-dark: #0E0A36;
    --border-color: #262857;
    --light-pink: #DED4FC;
    --border-yellow: #322A52;
    --border-red: #322252;
    --border-green: #253452;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

#pie-chart {
    background: conic-gradient(
        blue 0% 20%,
        yellow 20% 50%,
        green 50% 65%,
        red 65% 100%
    );
}

#total-tasks {
    background: linear-gradient(
        to right,
        #6f4fe576,
        #181a43
    )
}